/* Reset básico para remover margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cor de fundo principal */
body {
    background-color: #000000; /* Fundo preto */
    color: #FFFFFF; /* Texto branco */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo ocupe pelo menos a altura da tela */
}

/* Cabeçalho */
header {
    background-color: #7D00DD; /* Cor roxa */
    color: #FFFFFF; /* Texto branco */
    padding: 20px;
    text-align: center;
}

/* Layout da página */
.container {
    display: flex;
    flex-grow: 1; /* Permite que o container cresça para ocupar o espaço disponível */
}

/* Faixa lateral esquerda */
.sidebar {
    background-color: #7D00DD; /* Cor roxa */
    width: 130px;
    padding: 20px;
    height: 100; /* Garante que a barra lateral ocupe toda a altura da página */
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin: 10px 0; /* Margem entre os botões */
}

.sidebar a {
    text-decoration: none;
    color: #FFFFFF; /* Texto branco */
    font-size: 18px;
    display: flex; /* Usar flexbox para centralizar o texto */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 100px; /* Largura total do botão */
    height: 75px; /* Altura fixa para todos os botões */
    background-color: #000000; /* Cor de fundo do botão */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.sidebar a:hover {
    background-color: #545454; /* Cor de fundo ao passar o mouse */
}

/* Estilo do conteúdo principal */
.content {
    flex-grow: 1; 
    padding: 20px;
}

/* Estilo das caixas de conteúdo */
.content-box {
    background-color: #333333; /* Cor de fundo das caixas */
    color: #FFFFFF; /* Cor do texto */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 15px; /* Espaçamento interno */
    margin: 15px 0; /* Margem superior e inferior */
}

/* Rodapé */
footer {
    background-color: #7D00DD; /* Cor roxa */
    color: #FFFFFF; /* Texto branco */
    text-align: center;
    padding: 20px;
    position: relative; /* Fixa o rodapé na parte inferior */
    bottom: 0; /* Posiciona o rodapé na parte inferior da página */
    left: 0;
    right: 0; /* Garante que o rodapé ocupe toda a largura da página */
}
